@charset "UTF-8";

.fes-detail-card {
  display: flex;
  flex-wrap: nowrap;
  min-width: 80vw;
  max-width: 60vw;
  justify-content: center;
  align-items: center;
}

/* ===== 축제정보 ===== */
.detail-poster {
  position: relative;
  width: 45%;
  border-radius: 2%;
  margin-right: 20px;
}

.detail-info {
  position: relative;
  display: inline;
  width: 55%;
}

.detail-category {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(134, 17, 125);
  color: white;
  padding: 3px 5px;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

.detail-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid purple;
  padding-bottom: 10px;
  width: 100%;
}

/* ===== 찜 버튼 ===== */
.fa-heart {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}
#addFav {
  color: rgb(71, 71, 71);
}
#delFav {
  color: rgb(223, 33, 33);
}

/* ===== 공유 버튼 ===== */
.fa-arrow-up-from-bracket {
  position: absolute;
  top: 2px;
  right: 45px;
  cursor: pointer;
}
