@charset "UTF-8";

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  margin: 0 30px;
  z-index: 9999;
}

/* ========== 로고(홈) ========== */
#logo > a {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1.7rem;
}

#logo > a:hover {
  color: black;
}

/* ========== 헤더 버튼 div ========== */
.container {
  display: flex;
  align-items: center;
  margin-right: 105px;
}

/*검색창 애니메이션*/
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(222, 80%, 58%);
  --dark-color: hsl(222, 24%, 8%);
  --title-color: hsl(222, 8%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);
  /*========== Font and typography ==========
  --body-font: "Poppins", sans-serif;
  --small-font-size: 0.813rem;*/
}
@media screen and (min-width: 968px) {
  :root {
    --small-font-size: 0.875rem;
  }
}

/*=============== SEARCH ===============*/
/* search btn white */
.search {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  box-shadow: 0 4px 24px hsla(216, 5%, 20%, 0.1);
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

/* search btn pink */
.search__button {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

/* search btn icon(2) */
.search__icon,
.search__close {
  color: var(--white-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
  opacity: 0;
}

/* search input box */
.search__input {
  font-family: "Poor Story", system-ui;
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  opacity: 1;
  pointer-events: initial;
}

.search__input::placeholder {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
  color: lightgrey;
}

.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}

/* Search animated */
.show-search {
  width: 100%;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .show-search {
    width: 1140px;
  }
}
/* ========== 로그인/회원가입 모달 ========== */
.dropdown-menu.show {
  /*  transform: translate(-114px, 80px) !important; */
}

/* ========== 로그인 버튼 ========== */
#bindPwd:hover,
#regi-button:hover {
  background-color: rgb(255, 192, 203);
}

.accountBtn {
  font-size: 2rem;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: transparent;
}

.accountBtn:hover {
  background-color: transparent;
  color: pink;
}

#anonymousUser {
  margin-left: 30px;
}

.dropdown-item {
  font-family: "Poor Story", system-ui;
  text-align: center;
  padding: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.login-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  font-family: "Poor Story", system-ui;
  background-image: url(../../resources/resources/bg-pink-cloud.jpeg);
  position: relative;
  isolation: isolate;
  background-size: cover;
  object-fit: cover;
  padding: 20px;
  border-radius: 15px;
}

.modal-content::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.7;
  border-radius: 15px;
}

/* ========== 공지사항 버튼 ========== */
#inform {
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
}

/*============== SEARCHFILTER ===============*/
/* search filter category */
.cateFilter {
  /*background-image: url(../../resources/resources/bg-utopia.jpg);
  position: relative;
  isolation: isolate;
  background-size: cover;*/
  position: fixed;
  width: 1118px;
  padding: 20px;
  background: rgba(252, 239, 241, 0.947);
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  /* 그림자 */
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search-filter-title {
  font-family: "Poor Story", system-ui;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 0px;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 15px 10px;
  border-bottom: 1px solid darkgray;
}

.category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.category-btn {
  font-family: "Poor Story", system-ui;
  background-color: white;
  color: lightgrey;
  width: 150px;
  height: 60px;
  margin: 10px;
  line-height: 45px;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: white;
  color: black;
  font-weight: bold;
  /* 그림자 */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cateName {
  color: black;
}

/* =============== 날짜, 요금 검색조건 =============== */
.search-option-2 {
  display: flex;
  margin-bottom: 40px;
}

.fesDate {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

#dateSetParty {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.date-select-wrap {
  margin: 0 10px;
}

#checkDateSelect {
  font-family: "Poor Story", system-ui;
  text-align: center;
  width: 90px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#checkDateSelect:hover {
  cursor: pointer;
}

#checkDateSelect > option {
  text-align: center;
}

#startDatepicker,
#endDatepicker {
  font-family: "Poor Story", system-ui;
  text-align: center;
  width: 140px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.period-select-wrap {
  margin-left: 10px;
}

.dateSetBtn {
  font-family: "Poor Story", system-ui;
  font-size: 0.8rem;
  width: 50px;
  height: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 50px;
}

.feeStatus {
  border: 1px solid black;
}

/* search filter date */
.dateSetting {
  border: 1px solid black;
}

/* =============== fee status =============== */
.checkfeeStatus {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.fee-chk-box {
  font-family: "Poor Story", system-ui;
  display: flex;
  padding: 20px 20px;
}

.fee-chk-box > label,
input:hover {
  cursor: pointer;
}

.fee-chk-box > input {
  margin-right: 10px;
}

.fee-chk-box01 {
  margin-right: 50px;
}

/* =============== search btn =============== */
#searchFilterButton {
  display: flex;
  size: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 30px 10px 15px 10px;
}

#diveButton {
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 1012px;
  height: 40px;
}

.closeSearchFilter {
  font-size: 1.3rem;
}

/* 로그인 후 모달 스타일 */
#currentNick {
  font-family: "Poor Story", system-ui;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  padding: 10px 5px 10px 5px;
}
.closeSearchFilter:hover {
  cursor: pointer;
}

.modal-header > h1 {
  font-weight: bold;
  font-size: 4rem;
}

