@charset "UTF-8";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

#main-wrap {
  min-height: calc(100vh - 10rem);
}

/* ========== 섹션이동 버튼 ========== */
.section-btn-container {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.section-btn {
  margin: 50px 20px;
}

.section-btn img {
  width: 30px;
  height: 30px;
}

/* ========== section1 : slide ========== */
/* slide area */
.carousel-inner {
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: -1;
}

/* each slide div */
.carousel-item {
  height: 100vh;
  display: flex;
  align-items: center;
}

/* logo & slogan text */
.carousel-inner-text {
  font-family: "Lilita One", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 5px 5px 5px rgb(114, 114, 106);
  font-style: normal;
  position: absolute;
  height: 100%;
  justify-content: center;
}

.carousel-inner-text h1 {
  font-size: 130px;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-inner-text p {
  font-size: 60px;
  font-weight: 350;
  justify-content: center;
}

/* section2, section3 타이틀 */
#section-title {
  font-family: "Dongle", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

#section-title-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

/* ========== section2 : popular ========== */
#section2 {
  background-image: url(../../resources/resources/bg-flower.webp);
  position: relative;
  isolation: isolate;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 90px;
}

#section2::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
}

.popular-festival-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 45px 45px 45px;
}

.main-card {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  width: 18rem;
  height: 500px;
  justify-content: space-between;
  padding: 0;
  margin: 20px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.66, -0.39, 0.4, 1.3);
}

.main-card img {
  position: relative;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}

.main-card-overlay {
  font-family: "Poor Story", system-ui;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
  color: white !important;
  border-radius: 10px;
}

.main-card:hover .main-card-overlay {
  opacity: 1;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.3);
}

.main-card-name {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 20px;
}

.main-card-date {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.main-card-place {
  font-size: 0.9rem;
}

/* ========== section3 : calendar ========== */
#section3 {
  background-image: url(../../resources/resources/bg-flower.webp);
  position: relative;
  isolation: isolate;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 90px;
}

#section3::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.8;
}

#calendar {
  display: flex;
  width: 100%;
  height: 95%;
  justify-content: center;
  padding: 0 45px 45px 45px;
  font-size: 1.5rem;
}

/* calendar(달력 전체 div) */
.fc .fc-view-harness {
  font-family: "Dongle", sans-serif;
  background: white;
}

/* 선택 년월, 오늘 버튼 그룹 */
.fc .fc-toolbar {
  justify-content: flex-end;
}

/* 선택 년월 */
.fc .fc-toolbar-title {
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-right: 20px;
}

/* 오늘 버튼 */
.fc .fc-button-primary {
  font-family: "Dongle", sans-serif;
  font-size: 1.4rem;
  padding: 3px 10px;
  background: pink;
  border-color: pink;
  color: black;
}

/* 달력 일 별 각 칸 */
.fc .fc-daygrid-day-frame {
  height: 50px;
  overflow: hidden;
}
/* 각 일자별 개별 축제 영역 */

.fc-daygrid-event-harness {
  margin-bottom: 30px;
}

/* 일(each day) 숫자 */
.fc .fc-daygrid-day-number:hover {
  color: pink;
}

.fc-event-title-container {
  background-color: white;
  border: none;
  color: black;
}
.fc-event {
  border: none;
}

/* ========== footer ========== */
.footer {
  font-family: "Poor Story", system-ui;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
  height: 10rem;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.728);
}

.footer-section1 {
  margin-right: 40px;
  line-height: 25px;
}

#footer-logo {
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1.7rem;
}

#footer-slogan {
  font-family: "Lilita One", sans-serif;
  margin-bottom: 10px;
}

#footer-national {
  font-weight: bold;
  font-size: 1.3rem;
}

.footer-section2 {
  margin-right: 50px;
  line-height: 25px;
}

.fa-solid {
  margin-right: 8px;
}

#footer-addr-wrap {
  display: flex;
  align-items: center;
}

#footer-phone-wrap {
  display: flex;
  align-items: center;
}

#footer-email-wrap {
  display: flex;
  align-items: center;
}

.footer-section3 {
  line-height: 30px;
  margin-right: 60px;
}

.footer-section3 p:hover {
  cursor: pointer;
  text-decoration: underline;
}

