@charset "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}

.wrap {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}


.slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	display: block;
	justify-content: center;
	align-items: center;
	animation: slider 7.5s infinite linear;
}

.slide h1 {
	font-size: 130px;
	color: white;
	text-shadow: 5px 5px 5px rgb(114, 114, 106);
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: center;
	margin-top: 350px;
}

.slide p {
	font-size: 60px;
	color: white;
	text-shadow: 5px 5px 5px rgb(114, 114, 106);
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: center;
}

/*
.slide:nth-child(1) {
	background-image: url(./3600945.jpg);
	animation-delay: 0;
}

.slide:nth-child(2) {
	background-image: url(./5256203.jpg);
	animation-delay: -2.5s;
}

.slide:nth-child(3) {
	background-image: url(./6364976.jpg);
	animation-delay: -5s;
}

@keyframes slider {
    0% {
      transform: translateX(0);
    }
    26% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
*/

/* ========== 메인 슬라이더 ========== */
#carouselExampleFade {
	height: 100vh;
}

#section2 {
	justify-content: center;
	padding-top: 10px;
	text-align: center;
}

#section3 {
	justify-content: center;
    padding-top: 10px;
    text-align: center;
}

/*
.row {
	display: flex;
	padding-left: 300px;
}
*/

/* 스크롤
.text-animation {
	animation: textAni 1s forwards;
}

@keyframes textAni {
  from {
    opacity:0;
	transform: translateY(0);
  }
  to {
	opacity: 1;
	transform: translateY(-10px);
  }
}
*/


/* ========== section2 : popular ========== */
.popular-festival-list {
	display: flex;
	justify-content: center;
	padding:43px;
}

.card-css {
	width:25%;
	height:650px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: black;
	margin: 20px;
	top: 80px;
	background-position: center;
	border: 3px solid black;
	box-shadow: 10px 10px 5px gray;
}

.card-css a {
	display:block;
	width:100%;
	height:100%;
}

.card-css-img {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
	height: 553px;
}

.card-css-img img {
	width: 100%;
	height: 400px;
	object-fit: contain;
}

.card-body-css {
	display: inline;
	padding: 5px;
}

.card-name-css {
	font-weight: bolder;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
}

.card-date-css {
	font-size: 0.8rem;
	font-weight: bold;
	margin: 0 0 5px;
	white-space: nowrap;
	overflow: hidden;
}

.card-place-css {
	font-size: 0.8rem;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
}


/* ========== section3 : calendar ==========
* {
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.calendar {
    width:600px;
    margin:50px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size:35px;
}

.nav {
    display:flex;
    border:1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width:28px;
    height: 30px;
    border:none;
    font-size:16px;
    line-height: 34px;
    background-color: transparent;
    cursor:pointer;
}

.go-today {
    width: 75px;
    border-left : 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display:flex;
    margin:25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display:flex;
    flex-flow: row wrap;
    height: 500px;
    border-top:1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color:#D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity : 0.3;
}

.today {
    position : relative;
    color: #FFFFFF;
}

.today::before {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width:30px;
    height:30px;
    display:block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
}
*/