* {
  box-sizing: border-box;
}
body {
  background: white;
}
.tabs .tab-header {
  float: left;
  width: 180px;
  height: 80vh;
  border-right: 1px solid #ccc; /*nav쪽 줄*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}
.tabs .tab-header div i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.tabs .tab-content > div > i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.tabs .tab-content > div {
  display: none;
  /* position: absolute; */
  text-align: center;
  padding: 40px 20px;
  /* top: -200%; */
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top: 0px;
}
.pigeon-account {
  display: flex;
  align-items: center;
  background-color: white;
  height: 20rem;
  border-bottom: 2px solid #ccc;
}
#userImage {
  border-radius: 50%;
  border: 1px solid #888;
  background-color: none;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 50px;
  cursor: pointer;
  flex-shrink: 0;
}
#userInfo {
  text-align: left;
  margin-left: 100px;
  line-height: 50px;
}
/* 비밀번호 변경전 확인 */
#pwdChangeForm {
  background-color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pwdChangeForm span{
  text-align: left;
  height: 20px;
}
#innerPwdChangeForm{
  display: flex;
  flex-direction: column;
}
.current-pwd-check{
  display: flex;
  flex-direction: column;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#passwordChangeInner{
  background-color: rgb(240, 240, 240);
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
#passwordCheckInner{
  background-color: rgb(240, 240, 240);
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
#pwdChangeFormButton{
  background-color: black;
  color: white;
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

/* 틀렸을때 span 태그 아래로 보내기 */
#accountCheck{
  background-color: rgb(240, 240, 240);
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
#wrongTry{
  height: 20px;
  width: 400px;
  text-align: left;
}
#checkThisAccount{
  background-color: black;
  color: white;
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
#userImage img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#uploadThisProfile{
  border: none;
  border-radius: 50%;
}
.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 78%;
  color: #999999;
}
.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
#changeNickForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#changeNickForm span{
  width: 50%;
  text-align: left;
  height: 20px;
}
#changeMailForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#changeMailForm span{
  width: 50%;
  text-align: left;
  height: 20px;
}
#nicknameChangeForm{
  padding-top: 30px;
}
#nicknameChangeForm input{
  width: 50%;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
#nicknameChange{
  background-color: black;
  color: white;
  width: 50%;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

/*  회원탈퇴 */
.unableAccountContainer{
  display: flex;
  flex-direction: column;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#deleteCheck{
  background-color: rgb(240, 240, 240);
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
.unableAccountContainer span{
  width: 50%;
  text-align: left;
  height: 20px;
}
#deleteThisAccount{
  background-color: black;
  color: white;
  width: 400px;
  padding: 15px 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
