@charset "UTF-8";

/* 배경 */
.mypage-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../../resources/resources/bg-green-mypage-balloons.jpeg);
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-position: bottom;
  flex-shrink: 0;
  padding-top: 80px;
  padding-top: 80px;
}

/* ========== 로고(홈) ========== */
#logo > a {
  position: fixed;
  top: 25px;
  left: 30px;
  font-family: "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1.7rem;
  color: black;
  text-decoration: none;
}

#logo > a:hover {
  color: black;
  text-decoration: none;
}

/* ========== 닉네임 ========== */
.nickname {
  position: fixed;
  top: 40px;
  right: 70px;
  font-family: "Dongle", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
}

.nickname > span {
  color: rgb(167, 38, 85);
}

/* ========== content(nav) ========== */
.mypage-container .item {
  margin-left: 7rem !important;
  height: 80vh;
  display: flex;
  align-items: center;
}

.item > ul {
  padding-left: 0 !important;
}

/* ===== 버튼 애니메이션 ===== */
@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
:is(#button01, #button02, #button03, #button04, #button05) {
  animation: fadeInDown 0.8s;
}

/* ===== 버튼 ===== */
.li-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#button01,
#button02,
#button03,
#button04,
#button05 {
  position: relative;
  border: none;
  background-color: transparent;
}

.account-modify-button {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#account-modify-button-icon {
  width: 60px;
  height: 60px;
}

/* 모달 애니메이션 */
@keyframes fadeInSide {
  0% {
    opacity: 0.5;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
:is(#main-jsp1, #main-jsp2, #admin-jsp) {
  animation: fadeInSide 0.3s;
}


/* main jsp section */
#main-jsp1 {
  background-color: white;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#main-jsp1.item {
  margin-left: 30px !important;
  /* 그림자 */
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main-jsp2 {
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#main-jsp2.item {
  background: white;
  margin-left: 30px !important;
  /* 그림자 */
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main-jsp3 {
  background-color: aqua;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#admin-jsp {
  background-color: white;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}
#admin-jsp::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}


/* 임시로 z-index 활성화 */
#admin-jsp {
  z-index: 10000;
}
#main-jsp1 {
  z-index: 10000;
}
#main-jsp2 {
  z-index: 10000;
}
#main-jsp3 {
  z-index: 10000;
}
