* {
  box-sizing: border-box;
}

.fv-list-title {
  font-family: "Dongle", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 25px;
}

#title-nickname {
  color: rgb(167, 38, 85);
}

.fv-list-content {
  font-family: "Poor Story", system-ui;
  padding: 40px;
  background: white;
}

.table th {
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
}

.table tr {
  text-align: center;
}

.tb-body-no {
  font-weight: bold;
  width: 80px;
}

.tb-body-name {
  text-align: left;
}

.tb-body-name a {
  display: block;
  width: 550px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tb-body-name a:hover {
  color: rgb(167, 38, 85);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tb-body-date {
  width: 200px;
}

