@charset "UTF-8";

.mypage-container {
   height: 100vh;
   display: flex;
   align-items: center;
   background-image: url(../../resources/resources/bg-color-pattern.jpeg);
   position: relative;
   isolation: isolate;
   background-size: cover;
   background-size: center;
   background-position: bottom;
   flex-shrink: 0;
 }

.mypage-container::after {
   content: "";
   position: absolute;
   background: white;
   z-index: -1;
   inset: 0;
   opacity: 0.5;
 }


@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
:is(#button01, #button02, #button03, #button04) {
  animation: fadeInDown 0.8s;
}

#button01 {
  position: relative;
  animation-delay: 0.1s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.66, -0.39, 0.4, 1.3);
  border: none;
}

#button02 {
  position: relative;
  animation-delay: 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.66, -0.39, 0.4, 1.3);
}

#button01:hover,
#button02:hover {
  color: black !important;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.3);
}

#button03 {
  position: relative;
  animation-delay: 0.3s;
}
#button04 {
  position: relative;
  animation-delay: 0.2s;
}
@keyframes fadeInSide {
  0% {
    opacity: 0.5;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
:is(#main-jsp1, #main-jsp2, #main-jsp3, #admin-jsp) {
  animation: fadeInSide 0.3s;
}

.item {
  height: 80vh;
  display: flex;
  align-items: center;
}

/* nav section */
.item:nth-child(1) {
  background-color: none;
  width: 30vh;
  margin-left: 10rem;
}

.li-nav {
  margin-bottom: 50px;
}

.account-modify-button {
  border: none;
  border-radius: 5px;
  width: 12rem;
  height: 5rem;
}
.admin-modify-button {
  border: none;
  border-radius: 5px;
  width: 12rem;
  height: 5rem;
}

/* main jsp section */
#main-jsp1 {
  background-color: white;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#main-jsp2 {
  background-color: orange;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#main-jsp3 {
  background-color: aqua;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}

#admin-jsp {
  background-color: white;
  width: 130vh;
  border-radius: 20px;
  display: none;
  overflow: auto;
  flex-shrink: 0;
}
#admin-jsp::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* 구간 별 색깔 */
#button01 {
  background-color: #01579b;
  /* flex-shrink: 0; */
}

#button02 {
  background-color: white;
  /* flex-shrink: 0; */
}

#button03 {
  background-color: aqua;
  /* flex-shrink: 0; */
}

#button04 {
  background-color: yellowgreen;
}

/* 임시로 z-index 활성화 */
#admin-jsp {
  z-index: 10000;
}
#main-jsp1 {
  z-index: 10000;
}
#main-jsp2 {
  z-index: 10000;
}
#main-jsp3 {
  z-index: 10000;
}
