@charset "UTF-8";

.write-container {
  display: flex;
  flex-direction: column;
}
.write-group {
  border-top: 1px solid grey;
  /* background-color: red; */
  width: 75%;
}
.write-control {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#top-title {
  border-top: 3px solid;
}
#main-notice {
  font-size: 2rem;
  padding-bottom: 15px;
  text-align: left;
}
#file {
  display: flex;
  align-items: center;
}
.end-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#image_container {
  display: none;
}

.write-group {
  border-top: 1px solid grey;
  width: 75%;
}

#editor {
  border: 1px solid grey;
}
.bSection-main {
  height: 550px;
  background-image: url(../../resources/resources/bg-pink-cloud3.jpeg);
  position: relative;
  isolation: isolate;
  background-size: cover;
}

.bSection-main::after {
  height: 550px;
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.4;
}
.view-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 5;
}
.view-user h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 70%;
  text-align: left;
}
.view-user input {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.view-textarea {
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 200px;
}
#editor img {
  max-width: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#image-expand i {
  font-size: 3rem;
  cursor: pointer;
}
#label-expand {
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
#image-expand i:hover {
  color: rgb(255, 192, 203);
}
#imageSpan {
  display: none;
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}
#model-main-image {
  max-width: 1100px;
  object-fit: cover;
}
#imageModel {
  display: none;
}
/* 댓글 부분 */
.view-comment {
  width: 75%;
  border-top: 1px solid;
  margin-bottom: 30px;
}
#no-comment {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}
#comment-here {
  margin-bottom: 10px;
  width: 70%;
  text-align: left;
  font-size: 2rem;
}
/* 광고시작이닷 */
.khAd {
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: end;
  width: 370px;
  height: 100px;
  background-color: white;
  background-image: url(../../resources/resources/khAd03.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-style: italic;
  position: fixed;
  position: fixed;
  z-index: 20;
  top: 945px;
  right: 850px;
}
.khAd i {
  font-size: 3rem;
}
