.user-register {
  display: flex;
  justify-content: center;
}

from {
  display: flex;
}

.id-nickname-wrap {
  display: flex;
}

.password-wrap {
  display: flex;
}

.email-btn-wrap {
  display: flex;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 350px;
}

.form-content label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-content div {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form-content input {
  padding: 15px 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25), 1px 2px 1px 0px rgba(0, 0, 0, 0.22);
}

.form-content input::placeholder {
  color: rgb(170, 169, 169);
}

.form-content span {
  font-family: "Poor Story", system-ui;
  height: 20px;
}

#id,
#password,
#email {
  margin-right: 20px;
}

#regi-button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 138, 157);
  padding: 15px;
  width: 350px;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25), 1px 2px 1px 0px rgba(0, 0, 0, 0.22);
}




