form {
  width: 70%;
}
.form-content {
  display: flex;
  margin: 5px;
}
.form-content label {
  width: 130px;
  font-weight: bold;
  margin-top: 15px;
}
.form-content div {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.form-content input {
  padding: 15px 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
.form-content span {
  height: 20px;
}
#regi-button {
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}