<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">	
	
	<resultMap type="NoticeBoard" id="noticeMap">
	    <id property="no" column="no"/>
	    <result property="userCode" column="user_code"/>
	    <result property="noticeTitle" column="title"/>
	    <result property="noticeContent" column="content"/>
	    <result property="noticeDate" column="date"/>
	    <result property="noticeUrl" column="url"/>
	    <result property="viewCount" column="view_count"/>
	    <association property="user" column="user_code" javaType="User" resultMap="userMap"/>
	</resultMap>

	<resultMap type="User" id="userMap">
		<id property="userCode" column="user_code" />
		<result property="id" column="user_id"/>
		<result property="password" column="user_pwd"/>
		<result property="nickname" column="user_nickname"/>
		<result property="email" column="user_email"/>
		<result property="enabled" column="user_enabled"/>
		<result property="userEnrollDate" column="user_enroll_date"/>
		<result property="userQuitDate" column="user_quit_date"/>
		<result property="auth" column="user_role"/>
		<result property="userProfileUrl" column="user_profile_url"/>
	</resultMap>
	

<!-- 리스트 불러오기 -->
	<select id="boardList" resultMap="noticeMap" >
		SELECT user_code, no, title, date, view_count, user_nickname FROM board JOIN
		user USING (user_code);
	</select>
<!-- 글쓰기 -->
<insert id="adminWrite" parameterType="NoticeBoard" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
	INSERT INTO board(user_code, title, content, url) VALUES(#{userCode},#{noticeTitle}, #{noticeContent}, #{noticeUrl})
</insert>

<!-- 각 게시글 -->
<select id="viewNotice" parameterType="int" resultMap="noticeMap">
	SELECT * FROM board JOIN user USING (user_code) WHERE no = #{no};
</select>

<!-- 눌렀을떄 조회수 증가 -->
<update id="viewCount" parameterType="int" >
UPDATE board SET view_count = view_count  + 1 WHERE no = ${no}
</update>

<!-- 수정 -->
<update id="updateView" parameterType="NoticeBoard">
UPDATE board
SET title = #{noticeTitle},content = #{noticeContent}, url = #{noticeUrl}
WHERE no = #{no}
</update>

<!--  삭제 -->
<delete id="deleteView" parameterType="int">
	DELETE FROM board
	WHERE no = #{no}
</delete>
</mapper>